body {
}
.content .section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/visual.jpg);
    background-size: cover;
    background-position: 0 30%;
}
.content .section1 nav {
}
.content .section1 nav .nav_wrap {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -508px;
    display: inline-block;
    font-size: 0;
}
.content .section1 nav .nav_wrap .nav_list {
    display: inline-block;
}
.content .section1 nav .nav_wrap li+li {
    margin-left: 80px;
}
.content .section1 nav .nav_wrap .nav_list .nav_list_in {
    display: block;
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    line-height: 200px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
}
.content .section2 {
    position: relative;
    padding: 70px 0 100px;
    min-height: 700px;
    height: 100vh;
    text-align: center;
}
.content .section2 .title_wrap {
    color: #d8d8d8;
}
.content .section2 .title_wrap .title {
    color: #b3cde0;
    font-size: 6.25rem;
}
.content .section2 .title_wrap .title::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 100px;
    background-color: #b3cde0;
}
.content .section2 .text_welcome {
    margin-top: 50px;
    font-size: 1.25em;
    line-height: 2.5;
}
.content .section3 {
    overflow: hidden;
    position: relative;
}
.content .section3 .bx_wrap {
    padding: 70px 30px;
}
.content .section3 .title_wrap {
    position: relative;
    color: #fff;
    font-size: 1.7rem;
    text-align: right;
    opacity: 1;
}
.content .section3 .title_wrap::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    display: block;
    width: 100px;
    height: 5px;
    background-color: #fff;
}
.content .section3 .title_wrap .title {
    font-size: 3rem;
    line-height: 1.7;
    opacity: 1;
}
.content .section3 .intro_bx {
    float: left;
    width: 50%;
    min-height: 700px;
    height: 100vh;
    background-color: #6497b1;
}
.content .section3 .intro_bx .text_wrap {
    margin: 70px 30px 0 0;
    color: #fcf8f8;
    font-size: 20px;
    line-height: 2.2;
    text-align: right;
}
.content .section3 .skill_bx {
    float: left;
    width: 50%;
    min-height: 700px;
    height: 100vh;
    font-size: 20px;
    background-color: #005b96;
}
.content .section3 .skill_bx .title_wrap {
    text-align: left;
}
.content .section3 .skill_bx .title_wrap::after {
    left: 0;
}
.content .section3 .skill_bx .skill_wrap {
    display: inline-block;
    margin: 30px 30px 0;
    color: #fcf8f8;
    vertical-align: top;
}
.content .section3 .skill_bx .skill_wrap  .skill_list .name {
    margin: 30px 0 10px;
    font-size: 20px;
    font-weight: bold;
}
.content .section3 .skill_bx .skill_wrap  .skill_list .text {
    font-size: 18px;
    line-height: 1.5;
}
.content .section3 .skill_bx .skill_wrap  .skill_list .text::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../img/iconmonstr-checkbox-20-16.png);
    vertical-align: middle;
}
.content .section4 {
    position: relative;
    padding: 70px 0;
}
.content .section4 .title_wrap {
    color: #484545;
    font-size: 25px;
    text-align: center;
}
.content .section4 .title_wrap::after {
    content: '';
    display: block;
    margin: auto;
    width: 100px;
    height: 5px;
    background-color: #005b96;
}
.content .section4 .title_wrap .title {
    color: #000;
    font-size: 50px;
    line-height: 2;
    text-align: center;
}
.content .section4 .introduce {
    padding-top: 100px;
}
.content .section4 .introduce .introduce_title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.content .section4 .introduce .introduce_wrap {
    padding-left: 100px;
    margin: 50px auto 0;
    width: 700px;
}
.content .section4 .introduce .introduce_wrap .introduce_list {
    font-size: 0;
}
.content .section4 .introduce .introduce_wrap li+li {
    margin-top: 20px;
}
.content .section4 .introduce .introduce_wrap .introduce_list .title {
    display: inline-block;
    width: 150px;
    font-size: 20px;
}
.content .section4 .introduce .introduce_wrap .introduce_list .text {
    font-size: 20px;
}
.content .section4 .introduce .introduce_wrap .introduce_list span+span {
    margin-left: 10px;
}
.content .section4 .introduce .introduce_wrap .introduce_list .palette_circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8a6dec;
    vertical-align: middle;
}
.content .section4 .introduce .introduce_wrap .introduce_list .palette_circle:nth-child(2) {
    background-color: #669dec;
}
.content .section4 .introduce .introduce_wrap .introduce_list .palette_circle:nth-child(3) {
    background-color: #3fc910;
}
.content .section4 .introduce .introduce_wrap .introduce_list .palette_circle:nth-child(4) {
    background-color: #89bb6d;
}
.content .section4 .introduce .introduce_wrap .introduce_list .palette_circle:nth-child(5) {
    background-color: #444;
}
.content .section4 .introduce .introduce_wrap .introduce_list .palette_circle:nth-child(6) {
    background-color: #ddd;
}
.content .section4 .introduce .introduce_wrap .introduce_list .text .portfolio_url:hover {
    color: #005b96;
    text-decoration: underline;
}
.content .section4 .introduce .introduce_text {
    margin: 80px auto 0;
    width: 1000px;
    color: #484545;
    font-size: 24px;
    line-height: 1.9;
}
.content .section4 .introduce .introduce_text .point {
    color: #005b96;
}
.content .section4 .clickflow {
    padding: 100px 0 50px;
}
.content .section4 .clickflow .clickflow_title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.content .section4 .clickflow .clickflow_wrap {
    margin-top: 50px;
    font-size: 0;
    text-align: center;
}
.content .section4 .clickflow .clickflow_wrap .clickflow_list {
    display: inline-block;
}
.content .section4 .clickflow .clickflow_wrap li+li {
    margin-left: 40px;
}
.content .section4 .clickflow .clickflow_wrap .clickflow_list .thumb {
    width: 450px;
    height: 270px;
    border: 3px solid #011f4b;
}
.content .section4 .clickflow .clickflow_wrap .clickflow_list .thumb .thumb_in {
    display: block;
    width: 100%;
    height: 100%;
}
.content .section4 .clickflow .clickflow_wrap .clickflow_list .info {
    margin-top: 20px;
    font-size: 18px;
}
.content .section4 .portfolio {
    padding: 50px 0 100px;
}
.content .section4 .portfolio .portfolio_title {
    font-size: 30px;
    font-weight: bold;

}
.content .section4 .portfolio .portfolio_title .title_number {
    margin-right: 20px;
    color: #005b96;
    font-size: 50px;
    vertical-align: middle;
    
}
.content .section4 .portfolio .portfolio_monitor {
    margin: 100px auto 0;
    width: 800px;
    height: 500px;
    background-size: 100%;
    background-color: #fff;

}
.content .section4 .artwindow_home .portfolio_monitor {
    background-image: url(../img/sub.png);

}
.content .section4 .artwindow_products .portfolio_monitor {
    background-image: url(../img/sub.png);

}
.content .section4 .artwindow_detail .portfolio_monitor {
    background-image: url(../img/sub_detail.png);
}
.content .section4 .portfolio .portfolio_monitor .portfolio_monitor_in {
    display: block;
}
.content .section4 .portfolio .portfolio_btn {
    margin-top: 60px;
    font-size: 0;
    text-align: center;
}
.content .section4 .portfolio .portfolio_btn .button_in {
    display: inline-block;
    margin: 0 50px;
    width: 200px;
    height: 50px;
    color: #fff;
    font-size: 22px;
    line-height: 50px;
    background-color: #005b96;
    border-radius: 50px;
}
.content .section4 .portfolio .portfolio_table {
    margin: 80px auto 0;
    text-align: left;
    border-spacing: 0;
}
.content .section4 .portfolio .portfolio_table .table_title {
    padding: 20px 30px;
    width: 300px;
    color: #484545;
    background-color: #eee;
}
.content .section4 .portfolio .portfolio_table .title_keywords {
    width: 600px;
}
.content .section4 .portfolio .portfolio_table .table_text {
    padding: 10px 30px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.content .section4 .portfolio .portfolio_table .category .categ {
    display: block;
    padding: 5px 0;
    width: 65px;
    height: 25px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
.content .section4 .portfolio .portfolio_table .category .html {
    background-color: #3fc910;
}
.content .section4 .portfolio .portfolio_table .category .scss {
    background-color: #ff0000;
}
.content .section4 .portfolio .portfolio_table .category .js {
    background-color: #00bfdd;
}
.content .section4 .portfolio .portfolio_table .category .task {
    background-color: #ff8519;
}
.content .section4 .portfolio .portfolio_table .source {
    color: #000;
}
.content .section5 {
    padding: 50px 0;
    color: #fff;
    background-color: #6497b1;
    text-align: center;
}
.content .section5 .contacts_title {
    font-size: 1.5rem;
}
.content .section5 .contacts_wrap {
    display: inline-block;
    margin-top: 30px;
    font-size: 1.2rem;
}
.content .section5 .contacts_wrap .contacts_list {
    text-align: left;
}
.content .section5 .contacts_wrap .contacts_list:nth-child(4):hover {
    color: #011f4b;
    text-decoration: underline;

}
.content .section5 .contacts_wrap .contacts_list::before {
    content: '';
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-image: url(../img/iconmonstr-phone-7-16.png);
    vertical-align: middle;
}
.content .section5 .contacts_wrap .contacts_list:nth-child(2)::before {
    background-image: url(../img/iconmonstr-email-2-16.png);
}
.content .section5 .contacts_wrap .contacts_list:nth-child(3)::before {
    background-image: url(../img/iconmonstr-speech-bubble-26-16.png);
}
.content .section5 .contacts_wrap .contacts_list:nth-child(4)::before {
    background-image: url(../img/iconmonstr-light-bulb-18-16.png);
}
.content .section5 .contacts_wrap li+li {
    margin-top: 10px;
}
.footer {
    padding: 30px 0;
    color: #fff;
    text-align: center;
    background-color: #302e2e;
}
.footer .copyright {
    font-size: 18px;
}

@media screen and (max-width: 1280px) {
    .inner {
        width: 1000px;
    }
    .content .section1 nav .nav_wrap {
        margin-top: -90px;
        margin-left: -480px;
    }
    .content .section1 nav .nav_wrap .nav_list .nav_list_in {
        width: 180px;
        height: 180px;
        line-height: 180px;
    }
    .content .section3 .skill_bx .skill_wrap {
        margin: 50px 10px;
    }
    .content .section3 .skill_bx .skill_wrap .skill_list .text {
        font-size: 0.9rem;
    }
    .content .section3 .intro_bx .text_wrap {
        font-size: 1.1rem;
    }
    .content .section4 .introduce .introduce_text {
        width: 100%;
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 1024px) {
    .inner {
        width: 760px;
    }
    .content .section1 nav .nav_wrap {
        margin-top: -85px;
        margin-left: -362.5px;
    }
    .content .section1 nav .nav_wrap .nav_list .nav_list_in {
        width: 155px;
        height: 155px;
        font-size: 22px;
        line-height: 160px;
    }
    .content .section1 nav .nav_wrap li+li {
        margin-left: 35px;
    }
    .content .section2 {
        height: 100%;
    }
    .content .section2 .title_wrap .title {
        font-size: 5rem;
    }
    .content .section2 .text_welcome {
        font-size: 1rem;
    }
    .content .section3 .intro_bx {
        float: none;
        width: 100%;
        height: 100%;
    }
    .content .section3 .title_wrap {
        text-align: center;
    }
    .content .section3 .title_wrap::after {
        height: 3px;
        right: 50%;
        margin-right: -50px;

    }
    .content .section3 .intro_bx .text_wrap {
        margin: 70px 0 0 0;
        font-size: 1rem;
        text-align: center;
    }
    .content .section3 .skill_bx {
        float: none;
        width: 100%;
        height: 100%;
    }
    .content .section3 .skill_bx .skill_wrap {
        margin: 50px 30px;
    }
    .content .section3 .skill_bx .title_wrap {
        text-align: center;
    }
    .content .section3 .skill_bx .title_wrap::after {
        left: 50%;
        margin-left: -50px;
    }
    .content .section3 .skill_bx .skill_wrap_bx {
        text-align: center;
    }
    .content .section3 .skill_bx .skill_wrap {
        text-align: left;
    }
    .content .section3 .skill_bx .skill_wrap .skill_list .name {
        font-size: 1.3rem;
    }
    .content .section3 .skill_bx .skill_wrap .skill_list .text {
        font-size: 1rem;
    }
    .content .section4 .title_wrap::after {
        height: 3px;
    }
    .content .section4 .introduce .introduce_title {
        font-size: 1.5rem;
    }
    .content .section4 .introduce .introduce_wrap .introduce_list .title {
        font-size: 1rem;
    }
    .content .section4 .introduce .introduce_wrap .introduce_list .text {
        font-size: 1rem;
    }
    .content .section4 .introduce .introduce_text {
        font-size: 1.2rem;
    }
    .content .section4 .clickflow .clickflow_title {
        font-size: 1.5rem;
    }
    .content .section4 .clickflow .clickflow_wrap .clickflow_list .thumb {
        width: 350px;
        height: 240px;
    }
    .content .section4 .clickflow .clickflow_wrap li+li {
        margin-left: 20px;
    }
    .content .section4 .clickflow .clickflow_wrap .clickflow_list .info {
        font-size: 1rem;
    }
    .content .section4 .portfolio .portfolio_title {
        font-size: 1.5rem;
    }
    .content .section4 .portfolio .portfolio_monitor {
        margin-top: 60px;
        width: 700px;
        height: 450px;
    }
    .content .section4 .portfolio .portfolio_btn .button_in {
        width: 170px;
        height: 40px;
        font-size: 1rem;
        line-height: 40px;
    }
}
@media screen and (max-width: 768px) {
    .inner {
        width: 640px;
    }
    .content .section1 nav .nav_wrap {
        margin-top: -205px;
        margin-left: -210px;
        width: 410px;
    }
    
    .content .section1 nav .nav_wrap .nav_list {
        margin: 25px;
    }
    .content .section1 nav .nav_wrap li+li {
        margin-left: 0;
    }
    .content .section2 .title_wrap .title {
        font-size: 4rem;
    }
    .content .section3 .intro_bx .text_wrap {
        margin: 90px 0 0;
    }
    .content .section3 .title_wrap .title {
        font-size: 2.2rem;
    }
    .content .section3 .title_wrap .text {
        font-size: 1.5rem;
    }
    .content .section3 .skill_bx .skill_wrap_bx {
        margin-top: 50px;
    }
    .content .section3 .skill_bx .skill_wrap {
        display: block;
        margin: 0 30px;
        text-align: center;
    }
    .content .section3 .skill_bx .skill_wrap .skill_list {
        display: inline-block;
        width: 230px;
    }
    .content .section3 .skill_bx .skill_wrap .skill_list .name {
        margin: 20px 0;
    }
    .content .section3 .skill_bx .skill_wrap .skill_list .text {
        text-align: left;
    }
    .content .section4 .introduce .introduce_wrap {
        padding-left: 50px;
        width: 100%;
    }
    .content .section4 .title_wrap .title {
        font-size: 2.2rem;
    }
    .content .section4 .title_wrap .text {
        font-size: 1.2rem;
    }
    .content .section4 .clickflow .clickflow_wrap .clickflow_list {
        display: block;
    }
    .content .section4 .clickflow .clickflow_wrap .clickflow_list .thumb {
        display: inline-block;
    }
    .content .section4 .clickflow .clickflow_wrap li+li {
        margin-top: 20px;
        margin-left: 0;
    }
    .content .section4 .portfolio .portfolio_monitor {
        width: 550px;
        height: 450px;
    }
    .content .section4 .portfolio .portfolio_table .category .categ {
        width: 50px;
    }
    .content .section4 .portfolio .portfolio_table .table_title {
        padding: 10px 30px;
        font-size: 0.8rem;
    }
    .content .section4 .portfolio .portfolio_table .source {
        font-size: 0.8rem;
    }
    .content .section4 .portfolio .portfolio_table .table_text {
        padding: 5px 30px;
        font-size: 0.8rem;
    }
    .content .section5 .contacts_wrap {
        font-size: 1rem;
    }
    .footer .copyright {
        font-size: 1rem;
    }
}
@media screen and (max-width: 640px) {
    .inner {
        width: 480px;
    }
    .content .section2 .text_welcome {
        font-size: 0.9em;
    }
    .content .section4 .introduce .introduce_wrap {
        padding-left: 0;
    }
    .content .section4 .introduce .introduce_wrap .introduce_list .title {
        font-size: 0.9rem;
    }
    .content .section4 .introduce .introduce_wrap .introduce_list .text {
        font-size: 0.9rem;
    }
    .content .section4 .introduce .introduce_text {
        font-size: 1.1rem;
    }
    .content .section4 .portfolio .portfolio_title {
        font-size: 1.4rem;
    }
    .content .section4 .portfolio .portfolio_title .title_number {
        font-size: 2.5rem;
    }
    .content .section4 .portfolio .portfolio_monitor {
        width: 400px;
        height: 350px;
    }
    .content .section4 .portfolio .portfolio_btn .button_in {
        margin: 0 10px;
        width: 150px;
        font-size: 0.9rem;
    }
    .content .section4 .portfolio .portfolio_table .table_title {
        padding: 10px 15px;
    }
    .content .section4 .portfolio .portfolio_table .table_text {
        padding: 10px 15px;
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 480px) {
    .inner {
        width: 380px;
        padding: 0 0;
    }
    .content .section1 nav .nav_wrap .nav_list .nav_list_in {
        width: 130px;
        height: 130px;
        font-size: 1.2rem;
        line-height: 130px;
    }
    .content .section1 nav .nav_wrap {
        width: 360px;
        margin-top: -180px;
        margin-left: -180px;
    }
    .content .section3 .intro_bx .text_wrap {
        font-size: 0.9rem;
    }
    .content .section3 .skill_bx .skill_wrap .skill_list .text {
        font-size: 0.9rem;
    }
    .content .section4 .clickflow .clickflow_wrap .clickflow_list .info {
        font-size: 0.9rem;
    }
    .content .section4 .introduce .introduce_wrap .introduce_list .title {
        width: 100px;
        font-size: 0.8rem;
    }
    .content .section4 .introduce .introduce_wrap .introduce_list .text {
        font-size: 0.8rem;
    }
    .content .section4 .introduce .introduce_text {
        font-size: 0.9rem;
    }
    .content .section4 .portfolio .portfolio_title {
        font-size: 1.1rem;
    }
    .content .section4 .portfolio .portfolio_title .title_number {
        font-size: 2rem;
    }
    .content .section4 .portfolio .portfolio_monitor {
        margin-top: 40px;
        width: 350px;
        height: 300px;
    }
    .content .section4 .portfolio .portfolio_btn {
        margin-top: 40px;
    }
    .content .section5 .contacts_wrap {
        font-size: 0.9rem;
    }
    .footer .copyright {
        font-size: 0.9rem;
    }
}
